html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Index Document
    body
        h1 Index
        nav
            a(href="/" target="_blank") to Intext
            a(href="/about.html" target="_blank") to About

        img(src="./images/loader.gif", alt="")